* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: red;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 242, 247);
}
